.subscribe-area {
  @include bg;
  .section-title {
    h1 {
      color: $second-primary-font;
    }
    p {
      color: $second-primary-font;
    }
  }
  .subscribe {
    max-width: 700px;
    margin: 0 auto;
    form {
      position: relative;
      input {
        width: 100%;
        padding: 14px 15px;
        border: 1px solid $third-primary;
        outline: none;
        border-radius: 50px;
      }
      input[type="submit"] {
        width: auto;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        padding: 11px 55px;
        background-color: $primary-color;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 1px;
        color: $second-primary-font;
        cursor: pointer;
        outline: none;
        transition: 0.3s;
        &:hover {
          background-color: $button-hover-primary;
        }
      }
    }
  }
}
