.testimonial-area {
  @include bg;
  .section-title {
    h4 {
      color: $second-primary-font;
    }
    h1 {
      color: $second-primary-font;
    }
    p {
      color: $second-primary-font;
    }
  }
  .testimonial {
    // display: grid;
    // grid-template-columns: repeat(3, auto);
    // grid-column-gap: 40px;

    /* slick slider arrow next previous */
    .slick-arrow {
      width: 40px;
      height: 40px;
      line-height: 40px;
      border: 0;
      background-color: $primary-color;
      color: $second-primary-font;
      font-size: 18px;
      border-radius: 3px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      transition: .3s;
      &:hover {
        background-color: $button-hover-primary;
      }
      &.slick-prev {
        left: -60px;
      }
      &.slick-next {
        right: -60px;
      }
    }

    /* slick dots */
    .slick-dots {
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      margin-top: 15px;
      li {
        display: inline-block;
        margin: 0 4px;
        &.slick-active {
          button {
            background: $primary-color;
            color: $second-primary-font;
          }
        }
        button {
          border: 0;
          width: 15px;
          height: 15px;
          font-size: 10px;
          line-height: 15px;
          border-radius: 50%;
          background-color: $third-primary;
          color: $primary-font;
        }
      }
    }
    .single-testimonial {
      border: 2px solid $second-primary-font;
      padding: 30px 20px;
      text-align: center;
      i {
        color: $second-primary-font;
        font-size: 50px;
      }
      p {
        color: $second-primary-font;
        margin: 30px 0;
      }
      .author-info {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        max-width: 200px;
        margin: 30px auto 0;
        img {
          max-width: 60px;
          border-radius: 50%;
        }
        h4 {
          text-transform: capitalize;
          font-size: 18px;
          font-weight: 550;
          text-align: left;
          color: $second-primary-font;
          margin-left: 15px;
          span {
            display: block;
            font-size: 13px;
            color: $second-primary-font;
          }
        }
      }
    }
    .slick-slide {
      margin: 0 15px;
    }
  }
}
