.about-area {
  .about-content {
    p {
      margin-bottom: 30px;
      font-size: 16px;
    }
  }
  .about-gallery {
    position: relative;
    @include max-xs {
      margin-top: 80px;
    }
    @include min-sm {
      margin-top: 30px;
    }
    @include min-md {
      margin-top: 30px;
    }
    img {
      border: 1px solid $gray;
      &:nth-child(1) {
        max-width: 430px;
        @include max-xs {
          max-width: 100%;
        }
        @include min-sm {
          max-width: 300px;
        }
        @include min-md {
          max-width: 380px;
        }
        @include min-lg {
          max-width: 275px;
        }
      }
      &:nth-child(2) {
        position: absolute;
        right: 5px;
        bottom: -140px;
        max-width: 450px;
        @include max-xs {
          max-width: 100%;
          position: inherit;
          right: 0;
          bottom: 85px;
        }
        @include min-sm {
          max-width: 300px;
          right: 40px;
          bottom: -70px;
        }
        @include min-md {
          right: 100px;
          bottom: -60px;
          max-width: 380px;
        }
        @include min-lg {
          bottom: -115px;
          max-width: 265px;
        }
        @include min-xl {
          right: 2px;
          max-width: 380px;
        }
      }
    }
  }
  .about-page-img {
    border: 1px solid $gray;
    @include max-xs {
      margin: 20px 0;
    }
    @include min-sm {
      margin-bottom: 20px;
      margin-top: 20px;
    }
    img {
      max-width: 100%;
      padding: 3px;
    }
  }
  .about-page-content {
    p {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
