.banner-area {
  //slick slider arrow button:
  .slick-arrow {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    background-color: transparent;
    border: 0;
    line-height: 40px;
    z-index: 1;
    cursor: pointer;
    i {
      font-size: 50px;
      color: $primary-color;
      transition: 0.3s;
      &:hover {
        color: $white;
      }
    }
    &.slick-prev {
      left: 50px;
      @include max-xs {
        left: 30px;
      }
    }
    &.slick-next {
      right: 50px;
      @include max-xs {
        right: 30px;
      }
    }
  }
  //slick slider arrow dots:
  .slick-dots {
    left: 50%;
    bottom: 50px;
    position: absolute;
    transform: translateX(-50%);
    li {
      display: inline-block;
      margin: 0 4px;
      &.slick-active {
        button {
          background-color: $primary-color;
        }
      }
      button {
        border: 0;
        width: 15px;
        height: 15px;
        line-height: 15px;
        border-radius: 50%;
        text-indent: -9999px;
        background-color: $white;
        outline: none;
        cursor: pointer;
      }
    }
  }
  .single-banner {
    position: relative;
    height: 100vh;
    @include max-xs {
      height: 50vh;
    }
    @include min-sm {
      height: 60vh;
    }
    @include min-md {
      height: 60vh;
    }
    @include min-lg {
      height: 80vh;
    }
    .banner-content {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @include max-xs {
        height: 50vh;
      }
      @include min-sm {
        height: 60vh;
      }
      @include min-md {
        height: 60vh;
      }
      @include min-lg {
        height: 80vh;
      }
      h2 {
        font-size: 30px;
        color: $white;
        text-align: center;
        @include max-xs {
          font-size: 20px;
        }
        @include min-sm {
          font-size: 20px;
        }
        @include min-md {
          font-size: 25px;
        }
      }
      h5 {
        font-size: 65px;
        color: $white;
        text-transform: capitalize;
        text-align: center;
        margin: 40px 0;
        font-weight: 800;
        line-height: 70px;
        @include max-xs {
          font-size: 35px;
          margin: 10px 0;
          line-height: 45px;
        }
        @include min-sm {
          font-size: 45px;
          margin: 10px 0;
          line-height: 50px;
        }
        @include min-md {
          font-size: 45px;
          margin: 20px 0;
          line-height: 45px;
        }
        @include min-lg {
          font-size: 60px;
        }
      }
      .banner-btn {
        a {
          margin: 20px 10px 0;
          @include max-xs {
            margin: 10px 5px 0;
          }
          @include min-sm {
            margin: 10px 10px 0;
          }
        }
      }
    }
  }
}
