.menu-area {
  background-color: $bg_gray;
  border-top: 1px solid $gray;
  border-bottom: 1px solid $gray;
  .single-menu {
    background-color: $white;
    border: 1px solid $gray;
    padding: 20px;
    margin-bottom: 30px;
    display: flex;
    @include min-md {
      display: inherit;
      text-align: center;
    }
    @include min-lg {
      display: inherit;
      text-align: center;
    }
    &:hover {
      img {
        border-radius: 50%;
      }
    }
    img {
      max-width: 110px;
      transition: 0.3s;
    }
    .menu-content {
      margin-left: 30px;
      @include min-md {
        margin-left: 0;
      }
      @include min-lg {
        margin-left: 0;
      }
      h4 {
        text-transform: capitalize;
        font-size: 20px;
        color: $black;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px dashed $gray;
        @include min-md {
          margin-top: 15px;
          font-size: 18px;
        }
        @include min-lg {
          margin-top: 15px;
        }
        span {
          float: right;
          color: $primary-color;
          @include min-md {
            float: none;
            margin-left: 10px;
          }
          @include min-lg {
            float: none;
            margin-left: 15px;
          }
        }
      }
      p {
        line-height: 25px;
      }
    }
  }
}
