.section-title {
  span {
    font-family: "Oleo Script";
    display: block;
    color: $black;
    font-size: 22px;
    text-transform: lowercase;
  }
  h4 {
    text-transform: capitalize;
    font-size: 40px;
    color: $black;
    margin-top: 15px;
    display: inline-block;
    padding-bottom: 22px;
    position: relative;
    @include max-xs {
      font-size: 38px;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 2px;
      background-color: $primary-color;
      left: 50%;
      transform: translateX(-50%);
    }
    &::before {
      width: 90px;
      bottom: 0;
    }
    &::after {
      width: 45px;
      bottom: -10px;
    }
  }
}

.title {
  margin-bottom: 30px;
  h4 {
    display: inline-block;
    text-transform: capitalize;
    color: $black;
    font-size: 25px;
    padding-bottom: 15px;
    position: relative;
    &::before, &::after {
      content: "";
      position: absolute;
      height: 2px;
      background-color: $primary-color;
    }
    &::before {
      bottom: 0;
      width: 60px;
    }
    &::after {
      left: 0;
      bottom: -8px;
      width: 40px;
    }
  }
}
