.team-area {
  background-color: $bg_gray;
  .single-team {
    border: 1px solid $gray;
    position: relative;
    overflow: hidden;
    @include max-xs {
      margin-bottom: 20px;
    }
    @include min-sm {
      margin-bottom: 25px;
    }
    @include min-md {
      margin-bottom: 25px;
    }
    &:hover {
      .team-content {
        bottom: 0;
      }
    }
    img {
      width: 100%;
      padding: 4px;
    }
    .team-content {
      bottom: -90px;
      position: absolute;
      width: 100%;
      text-align: center;
      background-color: $black;
      color: $white;
      padding: 20px 0;
      transition: .3s;
      h4 {
        text-transform: capitalize;
        font-size: 22px;
        span {
          display: block;
          text-transform: lowercase;
          font-size: 16px;
          margin-top: 5px;
        }
      }
    }
  }
}
