/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");
/* variables declaration */
@media only screen and (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
  .showcase__text h3 {
    font-size: 5rem;
  }
  .about__content {
    flex: 1 1 53%;
  }
  .reviews__slide {
    padding: 16px 12px;
  }
  .reviews__slide p {
    line-height: 1.6;
    font-size: 16px;
  }
  .reviews__slide .user-info {
    margin-top: 18px;
  }
  .reviews__slide .user-info img {
    width: 60px;
    height: 60px;
  }
  .reviews__slide .user-info .user-content i {
    font-size: 14px;
  }
  .footer__top-left {
    flex-basis: 40%;
  }
  .footer__top-left p {
    font-size: 15px;
  }
  .footer__top-right {
    flex-basis: 52%;
  }
  .footer__top-right-column ul li a {
    font-size: 15px;
  }
}
@media only screen and (max-width: 992px) {
  .container {
    max-width: 760px;
  }
  .header__navbar ul li {
    margin-left: 15px;
  }
  .showcase__text {
    flex: 1 1 45%;
  }
  .showcase__text h3 {
    font-size: 4rem;
  }
  .counter__box {
    justify-content: space-around;
  }
  .counter__box i {
    font-size: 2.5rem;
  }
  .counter__box-content h3 {
    font-size: 22px;
  }
  .counter__box-content h3 span {
    font-size: 25px;
  }
  .counter__box-content p {
    font-size: 16px;
  }
  .about__content h3 {
    font-size: 2rem;
  }
  .about__content p {
    font-size: 16px;
  }
  .course .course__title h3 {
    font-size: 2rem;
  }
  .teachers .teachers__title h3 {
    font-size: 2rem;
  }
  .reviews .reviews__title h3 {
    font-size: 2rem;
  }
  .contact .contact__title h3 {
    font-size: 2rem;
  }
  .footer__top-right {
    flex-basis: 58%;
  }
  .footer__top-right-column {
    flex-basis: 28%;
  }
  .footer__top-right-column:nth-child(3) {
    flex-basis: 38%;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    max-width: 98%;
  }
  .header__navToggler {
    display: block;
  }
  .header__navbar {
    width: 100%;
    padding: 0;
    max-height: 0px;
    overflow: hidden;
    visibility: hidden;
    transition: all 0.5s ease;
  }
  .header__navbar.open {
    visibility: visible;
  }
  .header__navbar ul {
    padding: 10px 8px;
    border-top: 1px solid #aaa;
    margin-top: 10px;
  }
  .header__navbar ul li {
    margin: 0;
    display: block;
  }
}
@media only screen and (max-width: 600px) {
  .container {
    max-width: 90%;
  }
  .showcase__text {
    flex: 1 1 45%;
  }
  .showcase__text h3 {
    font-size: 3rem;
  }
  .counter__box {
    flex-basis: 48%;
  }
  .counter__box:nth-child(3), .counter__box:nth-child(4) {
    margin-top: 20px;
  }
  .about__image {
    flex: 1 1 48%;
  }
  .contact__image {
    flex: 1 1 56%;
    order: 1;
  }
  .footer__top-left {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
  .footer__top-right {
    flex-basis: 100%;
  }
  .footer__bottom {
    justify-content: center;
  }
  .footer__bottom p {
    margin-bottom: 10px;
    font-size: 16px;
  }
  .footer__bottom ul li a {
    font-size: 16px;
  }
}
@media only screen and (max-width: 450px) {
  .container {
    max-width: 85%;
  }
  .counter__box {
    flex-basis: 100%;
    justify-content: space-evenly;
  }
  .counter__box:nth-child(1), .counter__box:nth-child(2) {
    margin-bottom: 20px;
  }
  .about__image {
    flex: 1 1 100%;
  }
  .about__content {
    flex: 1 1 100%;
  }
  .footer__top-right-column {
    margin-bottom: 20px;
  }
  .footer__top-right-column:nth-child(3) {
    flex-basis: 100%;
  }
  .footer__bottom p {
    text-align: center;
  }
  .footer__bottom ul {
    justify-content: center;
    margin-top: 6px;
  }
  .footer__bottom ul li {
    margin-bottom: 5px;
  }
}/*# sourceMappingURL=responsive.css.map */