.counter-area {
  background-color: $white;
  .counter-box {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    justify-content: space-between;
    .single-counter {
      border: $border;
      border-radius: 5px;
      text-align: center;
      padding: 30px 10px;
      i {
        font-size: 40px;
        color: $green;
      }
      h3 {
        text-transform: capitalize;
        padding: 0.5rem 0;
        margin: 25px 0;
        font-size: 40px;
        color: $black;
        text-shadow: $text_shadow;
      }
      p {
        color: $black_light;
        font-size: 17px;
      }
    }
  }
}
