* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $black;
  transition: 0.3s;
}

ul {
  list-style: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

/* margin and padding */
@for $i from 1 through 10 {
  .pt-#{$i * 10} {
    padding-top: ($i * 10) + px;
  }
  .pb-#{$i * 10} {
    padding-bottom: ($i * 10) + px;
  }
  .mt-#{$i * 10} {
    margin-top: ($i * 10) + px;
  }
  .mb-#{$i * 10} {
    margin-bottom: ($i * 10) + px;
  }
}

/* flex properties */
$display: flex, inline-flex;
@each $prop in $display {
  .d-#{$prop} {
    display: $prop;
  }
}

/* justify content */
$justify-content: flex-start, flex-end, center, space-between, space-around,
  space-evenly;
@each $prop in $justify-content {
  .justify-#{$prop} {
    justify-content: $prop;
  }
}

/* align items */
$align-items: flex-start, flex-end, center, baseline, stretch;
@each $prop in $align-items {
  .align-#{$prop} {
    align-items: $prop;
  }
}

/* text property */
$text-align: left, right, center, justify;
@each $prop in $text-align {
  .text-#{$prop} {
    text-align: $prop;
  }
}

/* background */
.bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $black;
    opacity: 0.85;
    z-index: -1;
  }
}

/* button group */
.btn {
  display: inline-block;
  color: $white;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 500;
  border-radius: 3px;
  transition: 0.3s;
  &.btn-primary {
    background-color: $primary-color;
    padding: 12px 20px;
    &:hover {
      background-color: $black;
    }
  }
}
