.blog-area {
  .blog-wrapper {
    .single-blog {
      float: left;
      width: 380px;
      margin-right: 30px;
      border: 1px solid $border_gray;
      overflow: hidden;
      &:hover {
        .blog-image {
          transform: scale(1.1);
        }
      }
      &:last-child {
        margin-right: 0px;
      }
      .blog-image {
        width: 100%;
        background-image: cover;
        background-position: center;
        transition: .3s;
      }
      .blog-text {
        width: 100%;
        padding: 25px 20px;
        h4 {
          font-size: 22px;
          color: $black;
        }
        p {
          margin: 20px 0;
        }
        a {
          color: $white;
        }
      }
    }
  }
}
