.contact-area {
  background-color: $bg_gray;
  .contact-top {
    .single-address {
      float: left;
      width: 380px;
      text-align: center;
      margin-right: 30px;
      &:last-child {
        margin-right: 0px;
      }
      i {
        font-size: 30px;
        color: $black;
      }
      h3 {
        font-size: 24px;
        text-transform: capitalize;
        margin: 10px 0;
        color: $black;
      }
      span {
        color: $black;
        font-size: 15px;
      }
    }
  }
  .contact-bottom {
    .contact-form {
      float: left;
      width: 700px;
      h3 {
        text-transform: capitalize;
        color: $black;
        font-size: 16px;
        margin-bottom: 8px;
      }
      form {
        input[type="text"],
        input[type="email"], textarea {
          display: block;
          width: 100%;
          border: 1px solid $border_gray;
          padding: 12px 10px;
          margin-bottom: 12px;
        }
        input[type="submit"] {
          color: $white;
          outline: none;
          border: 0;
          text-transform: uppercase;
          letter-spacing: 1px;
          margin-top: 5px;
        }
      }
    }
    .contact-map {
      float: right;
      width: 450px;
      margin-left: 50px;
      iframe {
        width: 100%;
        border: 1px solid $border_gray;
        padding: 3px;
        height: 270px;
      }
    }
  }
}
