* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

body {
  font-family: $my_font;
  font-size: 16px;
  background-color: $black;
  overflow-x: hidden;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: auto;
}

::selection {
  background-color: $white;
  color: $black;
}

::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.6rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $green;
  border-radius: 5rem;
}
