.showcase {
  padding: 30px 0;
  &__wrapper {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
    align-items: center;
  }
  &__text {
    flex: 1 1 50%;
    text-align: center;
    h3 {
      text-transform: capitalize;
      font-size: 6rem;
      color: $white;
      line-height: 1;
      margin-bottom: 1rem;
      span {
        display: block;
        color: $green;
      }
    }
    @include button;
  }
  &__image {
    flex: 1 1 50%;
    img {
      width: 100%;
    }
  }
}
