/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

/* variables declaration */
$green: #00E77F;
$white: #fff;
$light_white: #aaa;
$black: #3d3d3d;
$light_bg: #4b4b4b;
$my_font: 'Rubik', sans-serif;
