* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: 0.5s;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  vertical-align: middle;
}

/*text property*/
$text: left, right, center, justify;
@each $prop in $text {
  .text-#{$prop} {
    text-align: $prop;
  }
}

/*margin and padding*/
@for $i from 1 through 10 {
  .pt-#{$i * 10} {
    padding-top: ($i * 10) + px;
  }
  .pb-#{$i * 10} {
    padding-bottom: ($i * 10) + px;
  }
  .mt-#{$i * 10} {
    margin-top: ($i * 10) + px;
  }
  .mt-#{$i * 10} {
    margin-bottom: ($i * 10) + px;
  }
}
