* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: 0.5s;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  vertical-align: middle;
}

/* container */
.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

/*text property*/
$text: left, right, center, justify;
@each $prop in $text {
  .text-#{$prop} {
    text-align: $prop;
  }
}

/*margin and padding*/
@for $i from 1 through 10 {
  .pt-#{$i * 10} {
    padding-top: ($i * 10) + px;
  }
  .pb-#{$i * 10} {
    padding-bottom: ($i * 10) + px;
  }
  .mt-#{$i * 10} {
    margin-top: ($i * 10) + px;
  }
  .mt-#{$i * 10} {
    margin-bottom: ($i * 10) + px;
  }
}

/* button style */
.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.4rem;
  border: $border;
  border-radius: 0.5rem;
  box-shadow: $box_shadow;
  color: $green;
  cursor: pointer;
  font-size: 1rem;
  background: $white;
  text-transform: capitalize;
  &:hover {
    background-color: $green;
    color: $white;
    i {
      background-color: $white;
      color: $green;
      margin-left: 1rem;
    }
  }
  i {
    padding: 0.4rem 0.5rem;
    border-radius: 0.5rem;
    background: $green;
    color: $white;
    margin-left: 0.5rem;
    transition: 0.3s;
  }
}
