/* colors used in this template */
$green: #16a085;
$black: #444;
$black_light: #777;

/* shadow colors */
$box_shadow: .5rem .5rem 0 rgba(22, 160, 133, .2);
$text_shadow: .4rem .4rem 0 rgba(0, 0, 0, .2);

/* border color */
$border: .2rem solid $green;
