/* Themes Colors */
$primary-color: #4864E6;
$second-primary: #4bd6f2;
$third-primary: #f2f4ff;

/* Button Colors */
$button-primary: #4864E6;
$button-border: #4864E6;
$button-color: #f2f4ff;
$button-hover-primary: #607dfa;
$button-hover-border:#607dfa;

/* Fonts Colors */
$primary-font: #333;
$second-primary-font: #f2f4ff;

/* Background Overlay */
$bg-overlay: #333;
